@model RecoverPasswordModel
@{
    Layout = null;
}

<div class="form-block recovery-form" id="recovery-form">
    <div class="oauth-form form" action="@Url.Action(MVC.OAuth.ActionNames.RecoverPassword,MVC.OAuth.Name)" method="post" >
        <div class="group alert w-full" dir="rtl">
            <small></small>
        </div>
        <div class="w-full m-b-26" dir="rtl">
            <h6>پس از وارد نمودن نام کاربری، رمز جدید برایتان پیامک خواهد شد.</h6>
        </div>
        <div class="wrap-input100 validate-input">
            @Html.TextBoxFor(x => x.RecoveryUserName, new { @class = "input100 p-h-r", @placeholder = Html.DisplayNameFor(x => x.RecoveryUserName), @data_trigger_click = "#btn-recovery" })
        </div>
        <div class="m-b-10 w-full">
            <small>@Html.ValidationMessageFor(x => x.RecoveryUserName)</small>
        </div>
        <div class="container-login100-form-btn">
            <button type="button" class="btn-action rtl waves-effect btn-recovery"  id="btn-recovery">
                <div class="text">
                   بازنشانی کلمه عبور
                </div>
                <div class="icon">
                    <i class="zmdi zmdi-check"></i>
                </div>
            </button>
            
        </div>
    </div>

    <div class="footer">
        قبلا در رسمی آنلاین ثبت‌نام کرده‌اید؟

        <a href="#signin-form" class="inner-nav goto-sign-in">وارد شوید</a>

    </div>
    </div>


