.table.tabl-border {
    border: 1px solid #717171;
}

.table {
    border-radius: 5px;
    color: #717171;
    font-size: 13px;
    margin-bottom: 0;
}

    .table tr:nth-child(even) {
        background-color: transparent !important;
    }

    .table tr:nth-child(odd) {
        background-color: transparent !important;
    }

.table-hover tbody tr:hover {
    background-color: transparent !important;
}

.table tr:last-child {
    background: #efefef !important;
}

.table tr:last-child:hover {
    background: #efefef !important;
}
.mustly-used-item{
    width: auto!important;
    text-align: center!important;
}