@model IEnumerable<Order>

<table class="table table-border text-center table-hover tbl-order-items table-gray">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>شماره سفارش</th>
            <th>نام مشتری</th>

        </tr>
    </thead>
</table>
