
/*----------------------------------------
                   Editable-list
------------------------------------------*/
.item .copy > input,.item .count > input{
    width:60px;
    text-align:center;
}
.item .total-price input{
    padding-left:3px;
    padding-right:3px;
}

.plus-wrapper .plus-ico {
    text-align: center !important;
}

    .plus-wrapper .plus-ico i {
        font-size: 24px;
        color: green;
        vertical-align: middle;
    }

.add-wrapper {
    position: relative;
}

    .add-wrapper input {
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #bbb;
        width: 100%;
        height: 40px;
        padding: 10px;
    }

        .add-wrapper input:focus {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            border: 1px solid #6f9dc0;
        }

    .add-wrapper ul {
        display: none;
        position: absolute;
        background-color: #fff;
        border: solid 1px #ccc;
        box-shadow: 3px 3px 10px rgba(0,0,0,.2);
        z-index: 99;
        list-style: none;
        right: 8px;
        top: 50px;
        padding-right: 0px;
        width: 98%;
        min-height: 50px;
        max-height: 250px;
        overflow-y: scroll;
    }

        .add-wrapper ul > li {
            padding: 5px 10px 5px 5px;
            text-align: right;
            cursor: pointer;
        }

            .add-wrapper ul > li > div {
                overflow: hidden;
            }

            .add-wrapper ul > li.active {
                background-color: #dddcdc;
            }

            .add-wrapper ul > li:hover {
                background-color: #eee;
            }

            .add-wrapper ul > li span {
                float: left;
                padding-left: 10px;
            }

.order-items .remove {
    text-align: center;
}

    .order-items .remove i {
        color: red;
        font-size: 23px;
        vertical-align: middle;
        cursor: pointer;
    }

.order-items .doc-count, .order-items .copy-count {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 30px;
}

.remove .crisp-h5bnuo {
    background-color: #000;
}

/*---------------------------
        mobile list
----------------------------*/
.props {
    font-size: 14px;
}

    .props .prop-group {
        padding: 10px;
        width: 100%;
        float: right;
    }

       .props .prop-group.w-half {
            width: 50%;
        }

        .props .prop-group .lbl {
            display: inline-block;
            margin-left: 5px;
        }

        .props .prop-group .val {
            display: inline-block;
        }


.result {
    background-color: #989898;
    font-size: 13px;
    width: 50%;
    float: right;
    border-radius: 3px;
    margin-bottom: 0;
    height: 37px;
    color: white;
    line-height: 15px;
    text-align:right;
    padding:10px;
}

    .result .lbl {
        margin-left: 5px;
    }

@media(max-width:576px) {

    .props .prop-group {
        padding: 7.5px 10px;
        padding-bottom: 0;
    }

     .props .prop-group.w-half {
            width: 100% !important;
     }

    .order-row {
        margin: -15px -30px 0 -30px;
        padding: 0 15px;
    }
}

.pricing-item {
    animation: changeColor 1s 1;
}

@keyframes changeColor {
    0% {
        border:1px solid #00947c;
    }

    25% {
      border:1px solid #1da18c;
    }

    75% {
       border:1px solid #1da18c;
    }

    100% {
      border:1px solid #92f7e7;
    }
}

.btn-show-modal {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid #00947c;
    background: none;
    color: #00947c;
}
    .btn-show-modal i {
        font-size: 20px;
        vertical-align: middle;
        margin-left: 5px;
    }
.order-items, .final-items {
    width: 100%;
    padding: 0 15px 15px 15px;
    margin-right: 0;
    padding-right: 0;
}

.flickity-rtl .flickity-prev-next-button.next {
    display: none;
}

.flickity-rtl .flickity-prev-next-button.previous {
    display: none;
}

.mobile-item {
    height: 270px;
    width: 400px;
    border: solid 1px #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 5px;
    box-shadow: 2px 0px 2px 0px #eee;
}

    .mobile-item .title {
        position: relative;
        padding: 15px;
        background-color: #e4e4e482;
        width: 100%;
    }
    .mobile-item .props{
    font-size:11px;
}
        .mobile-item .title h5 {
            font-size: 12px;
            padding: 0;
            margin: 0;
        }

        .mobile-item .title > .text {
            width: 100%;
            text-align: right;
        }

        .mobile-item .title > .remove {
            color: red;
            position: absolute;
            top: 0px;
            left: 10px;
            font-size: 25px;
        }

    .mobile-item .total {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        background-color: #FFECB3;
        bottom: 0;
        font-size: 13px;
    }

    .mobile-item .doc-count, .mobile-item .copy-count {
        display: inline-block;
    }


    .mobile-item .total .lbl {
        margin-left: 5px;
    }

    .mobile-item .total .val {
        float: left;
        margin-left: 20px;
    }

    .sec-header {
    padding: 7px 0;
}

.select-arrow:after {
    left: 20px;
    right: auto !important;
    bottom: 20px !important;
}

.items {
    height: 250px;
}

    .items.without-item {
        background-color: #eee;
        border: dashed 2px #ccc;
    }

.order-item-add-modal {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 15px;
}

.mustly-used-item {
    width: auto !important;
    text-align: center !important;
}

.auto-complete-items {
    top: auto !important;
    bottom: 30px !important;
    right: 0 !important;
}

.add-wrapper-label {
    margin-top: 30px;
}

.close-modal {
    position: fixed;
    cursor: pointer;
    border: none;
    bottom: 0;
    padding: 10px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #474747;
    background-color: #efefef;
    margin: 0;
}

    .close-modal i {
        font-size: 25px;
    }

.final-items {
    padding: 15px;
    height: 215px;
}
@media(max-width:576px) {
    .mobile-item {
        height: 175px;
        width: 305px;
    }
}
