@model IEnumerable<PaymentGateway>

@{
    ViewBag.Title = LocalMessage.PaymentGatewayManagment;
    ViewBag.Keywords = "";
    ViewBag.Description = LocalMessage.PaymentGatewayManagment;
}

@{
    if (Model != null && Model.Any())
    {
        Html.RenderPartial(MVC.PaymentGateway.Views.Partial._List, Model);
    }
    else
    {
        <div class="text-center text-danger">@LocalMessage.RecordsNotFound</div>
    }
}

@{Html.RenderPartial(MVC.Shared.Views.Partials._AddButton, new AddButtonModel
    {
        ModalTitle = LocalMessage.AddPaymentGateway,
        EntityName = nameof(PaymentGateway),
        FormUrl = Url.Action(MVC.PaymentGateway.ActionNames.GetForm, MVC.PaymentGateway.Name, new { id = 0 }),
        Title = LocalMessage.AddPaymentGateway,
        IsDisableAddButton = true
    });
}


@section Scripts{
    <script src="@Links.Scripts.Plugins.jquery_custom_modal_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Own.PaymentGatewayController_js" type="text/javascript"></script>
}