<footer>



    <div class="container">
        <div class="col col-xs-12 col-sm-6 col-md-3 right-block">
            <li id="text-2" class="widget widget_text">
                <div class="textwidget">
                    <p><img src="https://rasmi.seoweb1.ir/wp-content/uploads/2018/05/Logo-Footer.png" alt="" width="86" height="98" class="alignnone size-full wp-image-18 additional-class logo-footer"></p>
                    <h2>مختصري درباره ما…</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و<br>
                        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </li>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-center">
            <div class="menu-footer-container">
                <ul id="menu-footer" class="menu">
                    <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="#">شرایط و قوانین</a></li>
                    <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="#">فرصت های شغلی</a></li>
                    <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="#">ضوابط حفظ حریم خصوصی</a></li>
                    <li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a href="#">سوالات متداول</a></li>
                    <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="#">پشتیبانی</a></li>
                    <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="#">راهنمای مشتریان</a></li>
                </ul>
            </div>            <ul class="namad">
                <li><a href=""><img src="http://www.rasmionline.com/wp-content/themes/Rasmi-ttthu/images/namad.png" alt=""></a></li>
                <li><a href=""><img src="http://www.rasmionline.com/wp-content/themes/Rasmi-ttthu/images/namad.png" alt=""></a></li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-3">
            <li id="text-3" class="widget widget_text">
                <div class="textwidget">
                    <h2 class="title-footer">خبرنامه…</h2>
                    <p>در خبرنامه ايميلي عضو شويد و از آخرين رويدادها، جشنواره ها و پيشنهادات ويژه آگاه شويد.</p>
                </div>
            </li>
            <form action="">
                <input type="text" class="form-control" placeholder="پست الكترونيك شما..." required="">
                <input type="submit" class="btn btn-success" value="ارسال">
            </form>
        </div>
    </div>
    <div class="container copy-footer">
        <div class="line-footer"></div>
        <div class="menu-main-container">
            <ul id="menu-main-2" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-4"><a href="http://www.rasmionline.com/">خانه</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-122">
                    <a href="#">خدمات</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d9%85%d8%af%d8%a7%d8%b1%da%a9-%d8%aa%d8%ad%d8%b5%db%8c%d9%84%db%8c/">ترجمه مدارک تحصیلی</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%b4%d9%86%d8%a7%d8%b3%d9%86%d8%a7%d9%85%d9%87/">ترجمه رسمی شناسنامه</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="http://www.rasmionline.com/%d8%af%d8%a7%d8%b1%d8%a7%d9%84%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%aa%d9%87%d8%b1%d8%a7%d9%86/">دارالترجمه رسمی در تهران</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="http://www.rasmionline.com/%d8%aa%d8%b9%d8%b1%d9%81%d9%87-%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c/">تعرفه خدمات</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-47"><a href="http://www.rasmionline.com/category/%d9%88%d8%a8%d9%84%d8%a7%da%af/">وبلاگ</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://www.rasmionline.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/">تماس با ما</a></li>
            </ul>
        </div>        <ul class="social-footer">
            <li><a href="#">facebook</a></li>
            <li><a href="#">twiter</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">linkdin</a></li>
            <li><a href="#">google</a></li>
            <li><a href="#">pintrest</a></li>
        </ul>
        <p class="text-center">كليه حقوق مادي و معنوي اين سايت متعلق به دارالترجمه رسمي مي باشد.</p>
    </div>
</footer>