


@font-face {
    font-family: "iransans";
    src: url(/content/Fonts/iransans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "iransans";
}

/*---------------------------------------------*/
a {
    /*font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        /*color: #57b846;*/
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: none;
        -webkit-appearance: none;
    }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

textarea {
    outline: none;
    border: none;
}


input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    /*font-family: Poppins-Regular;*/
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #fbfcfd !important;
}

.container-login100 {
    width: 100%;
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 30px 15px;
    background: #fbfcfd !important;
}


.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px #cecece;
}

.rememberme-group > div {
    display: inline-block;
}

.rememberme-group > .forgot-pw {
    float: left;
}

    .rememberme-group > .forgot-pw a {
        font-size: 11px;
    }

.contact100-form-checkbox {
    float: right;
}
/*==================================================================
[ Title form ]*/
.login100-form-title {
    background-image: url('/Content/Images/oauth-bg.jpg');
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.login100-form-title-1 {
    /*font-family: Poppins-Bold;*/
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}


/*==================================================================
[ Form ]*/

.oauth-form {
    /*width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 50px 10px 50px;
}


.form-block {
    display: none;
}

    .form-block.active {
        display: inline;
    }
/*------------------------------------------------------------------
[ Input ]*/

.input-title {
    margin-bottom: 5px;
    font-size: 12px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.label-input100 {
    font-size: 11px;
    color: #5f5f5f;
    line-height: 1.4;
    display: block;
    position: relative;
    padding-right: 26px;
    cursor: pointer;
    font-weight: normal;
}

/*---------------------------------------------*/
.input100 {
    /*font-family: Poppins-Regular;*/
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s;
        background: #57b846;
    }


/*---------------------------------------------*/
input.input100 {
    height: 35px;
    font-size: 12px;
}


.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    /*font-family: Poppins-Regular;*/
    font-size: 11px;
    color: #5f5f5f;
    line-height: 1.4;
    display: block;
    position: relative;
    padding-right: 26px;
    cursor: pointer;
    font-weight: normal;
}

    .label-checkbox100::before {
        content: '\f26b';
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        font-size: 13px;
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: #fff;
        border: 1px solid #a7a7a7;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.input-checkbox100:checked + .label-checkbox100::before {
    color: #57b846;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    margin-top: 10px;
    /*display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;*/
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background-color: #333333;
    }


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .oauth-form {
        padding: 43px 15px 57px 117px;
    }

    .forgot-pw {
        width: 100%;
        text-align: right;
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .oauth-form {
        padding: 43px 15px 57px 15px;
    }

    .label-input100 {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    webkit-box-shadow: 0 0 0 30px white inset;
    background-color: none;
    transition: background-color 5000s ease-in-out 0s;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: rgba(93,214,0,.06);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    font-size: 13px;
    border-top: 1px solid #e8f3e1;
}

.w-full {
    width: 100%;
}

.m-b-26 {
    margin-bottom: 26px;
}

.m-b-18 {
    margin-bottom: 18px;
}

.input-validation-error {
    border: solid 1px red;
}

.field-validation-error {
    color: red;
    font-size: 10px;
}

.p-h-r::-webkit-input-placeholder {
    text-align: right;
    font-family: iransans;
    direction: rtl;
}

.p-h-r:-moz-placeholder { /* Firefox 18- */
    text-align: right;
    font-family: iransans;
    direction: rtl;
}

.p-h-r::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
    font-family: iransans;
    direction: rtl;
}

.p-h-r:-ms-input-placeholder {
    text-align: right;
    font-family: iransans;
    direction: rtl;
}

.nav {
    position: absolute;
    right: 0;
    bottom: -35px;
    left: 0;
    direction: rtl;
    padding: 0 15px;
    font-size: 12px;
}

    .nav a {
        font-size: 11px;
    }

    .nav > .copyright {
        float: left;
        direction: ltr;
    }

.btn-sign-in > .icon > i {
    transform: rotate(180deg);
}


.goto-sign-in, .goto-sign-up {
    color: #ff7f41;
    border-bottom: 1px dashed;
}

.sms-try {
    display: inline-block;
    font-family: iransans;
    float: right;
}

    .sms-try .resend {
        display: none;
    }


footer {
    display: block;
}

.c-footer-light .container {
    border-top: 1px solid #cacaca;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    color: #b1b1b1;
}

.c-footer-light__links li {
    display: inline-block;
    margin: 0 17px;
}

    .c-footer-light__links li a {
        font-size: 11px !important;
    }

.c-footer-light__links {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.c-footer-light__text {
    font-size: 12px;
    font-size: .857rem;
    line-height: 10px;
    color: #b0b0b0;
    text-align: center;
    direction: rtl;
    letter-spacing: -.5;
    font-family: "iransans";
}

.c-footer-light .container p {
    margin-top: 15px;
}

.c-footer-light__copyright {
    font-size: 13px;
    font-size: .929rem;
    line-height: 15px;
    color: #b0b0b0;
    letter-spacing: -.5px;
    direction: ltr;
    text-align: center;
    padding: 0 12px;
}

.m-r-20 {
    margin-right: 20px;
}
